nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 20px 15px;
  width: 100%;
  background-color: $body-bg;
  position: fixed;
  top: 0;
  z-index: 2;
  ul{
    margin: 0;
    & button{
      display: inline-flex;
      margin-left: 40px;
      @include style_button;
      &:hover{
        background-color: $hover_button;
      }
      & a{
        padding: 8px;
        color: $body-bg;
        &:hover{
          @include hover;
        }
      }
    }
  }
  ul li{
    display: inline-flex;
    margin: 0px 5px;
    padding: 0px 20px;
    &:first-child{
      border-bottom: 2px solid #61ce4e;
    }
    &:hover{
      border-bottom: 2px solid #61ce4e;
    }
    & a{
      padding: 8px;
      color: $color_item_nav;
      &:hover{
        text-decoration: none;
        color: $color_item_nav;
      }
    }
  }
  img{
    height: 60px;
  }

}
